.top {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio-page {
    display: flex;
    justify-content: center;
    color: white;
}

.page-name {
    font-weight: bold;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


.project-card {
    background-image: url(/src/assets/images/background2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    margin-bottom: 25px;
}

.project-name {
    background-color: black;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid white;
    text-align: center;
    color: green;
}

.description {
    color: green;
}

.project {
    text-align: center;
    filter: grayscale(15%) opacity(75%) hue-rotate(10deg) drop-shadow(0 0 0 transparent);
    transition: all 250ms ease-out;
}

.project:hover {
    filter: grayscale(0%) opacity(100%) hue-rotate(0deg) drop-shadow(0 0 0 transparent);
}

.project-img {
    height: 300px;
    width: 300px;
}

.project-description,
.project-github {
    color: white;
}

.green {
    color: green;
    font-weight: bold;
    font-size: 22px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: black;
    border-color: none;
}

.nav-tabs .nav-link {
    color: white;
    border-color: none;
}

.nav-tabs {
    border-bottom: none;
    color: white;
}

.nav-tabs .nav-link:hover {
    color: white;
}